@media (max-width: 768px) {
    
}

@media (min-width: 768px) {
    #list {
        width: 50%;
        height: 80vh;
        border: 1px solid var(--forground-color);
        border-radius: 10px;
        margin-top: 10vh;
        margin-left: 10%;
        display: grid;
        gap: 10px;
    }

    .driver {
        display: flex;
        align-items: center;
    }

    .driver-team {
        margin-left: 50px;
    }

    .driver-color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}